ul {
    list-style-type: none;
    margin: 25px;
    padding: 5px;
}

ul .active{
    color: white;
    background-color: #5F43AD;
}

li {
    margin: 0px 10px 0px 5px;
    font-size: 15px;
}

li a {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    padding: 8px;
    background-color: #E8E8E8;
    border-right: 1px solid white;
}

li a:hover {
    background-color: #b69ff7;
    color: black;
}

.searchbar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    width: 13%;
    background: #f1f1f1;
  }

 .searchbar button {
    float: right;
    padding: 10px;
    background: #fa9ac2;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  .searchbar button:hover {
    background: #fa9ac2;
  }

  .searchbar::after {
    content: "";
    clear: both;
    display: table;
  }

.work_page h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 50px 30px 30px 30px;
    min-height: 50px;
}

.home_page h1, .about_page h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 30px 30px 30px;
    min-height: 50px;
}

.resume_page h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 25px 30px 30px 30px;
    min-height: 50px;
}

.header {
    padding: 40px;
    text-align: center;
    background: linear-gradient(to right, #fa9ac2, #765cc0);
    color: white;
    font-size: 3em;
    animation: fadeIn 2s;
    font-family: 'Domine', serif;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

footer {
    background-color: #fa9ac2;
    margin: 10px 0px 20px 0px;
    height: 65px;
    bottom: 25px;
}


.work_page #footer p {
    padding-top: 20px;
    text-align: center;
}

.home_page p, .about_page p, .resume_page p, .work_page p {
    text-align: left;
    padding: 5px;
    margin: 30px 30px 30px 30px;
    font-size: 20px;
}

.resume_page, .about_page,  .home_page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.resume_page header, .about_page header, .home_page header {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    align-items: center;
}

.resume_page #footer, .about_page #footer, .home_page #footer {
    grid-column: 1 / -1;
    align-items: center;
}

.resume_page #footer p, .about_page #footer p, .home_page #footer p {
    text-align: center;
    margin: 15px;
}

.resume_page main, .about_page main, .home_page main {
    grid-column: 1 / -1;
    align-items: center;
}

.resume_page h3 {
    margin-left: 10px;
}

.resume_page .linkedin {
    text-align: left;
    padding: 5px;
    font-size: 15px;
    float: left;
    margin-bottom: 50px;
}

.resume_page .resume-list {
    display: list-item;
    list-style-type: circle;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    font-size: 20px;
}

.work_page p {
    text-align: left;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    display: block;
}


#main h2 {
    text-align: center;
    margin: 0px 35%;
    background-image: url("../images/background-image.jpg");
}

.skip {             /*Found this and the :focus online (https://dev.to/ziizium/how-to-implement-accessibility-skip-to-content-4d8m). Not sure if I should use it.*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #15459D;
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

.skip:focus {
    height: auto;
    position: static;
    width: auto;
  }

.formspree {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
  }

textarea {
    width: 190px;
}

aside {
    width: 50%;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: right;
    font-style: italic;
    background-color: #b69ff7;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    align-items: center;
  }

.about_page img {
    width: 315px;
    border: 3px solid black;
    padding: 10px;
    margin: 30px 36px 30px 60px;
    border-radius: 10px;
    float: left;
}

.about_page img:hover {
    background-color: #fa9ac2;
}

.home_page img {
    width: 300px;
    border: 3px solid black;
    padding: 10px;
    margin: 30px 100px 5% 40px;
    border-radius: 10px;
    float: left;
}

.home_page img:hover {
    background-color: #fa9ac2;
}

.work_page .cvc_images {
    height: 100px;
    width: auto;
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_page .cvc_images:hover {
    background-color: #fa9ac2;
}

.work_page .collect_connect_images {
    height: 400px;
    width: auto;
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_page .collect_connect_images:hover {
    background-color: #fa9ac2;
}

.work_page .taskcheck_images {
    height: 350px;
    width: auto;
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_page .taskcheck_images:hover {
    background-color: #fa9ac2;
}

.work_page .brandmotion_image {
    height: 350px;
    width: auto;
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_page .brandmotion_image:hover {
    background-color: #fa9ac2;
}

.work_page .dog_rescue_image {
    height: 300px;
    width: 450px;
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_page .dog_rescue_image:hover {
    background-color: #fa9ac2;
}

.resume_page img {
    width: 75px;
    border: 3px solid black;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.resume_page img:hover {
    background-color: #fa9ac2;
}



@media all and (min-width: 800px){

    ul {
        list-style-type: none;
        margin: 25px;
        padding: 5px;
    }

    ul .active{
        color: white;
        background-color: #765cc0;
    }

    li {
        margin: 0px 10px 0px 5px;
        font-size: 15px;
    }

    li a {
        color: black;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        float: left;
        padding: 8px;
        background-color: #E8E8E8;
        border-right: 3px solid white;
    }

    li a:hover {
        background-color: #b69ff7;
        color: black;
    }

    .searchbar input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: right;
        width: 15%;
        background: #f1f1f1;
      }

     .searchbar button {
        float: right;
        width: 5%;
        padding: 10px;
        background: #fa9ac2;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }

      .searchbar button:hover {
        background: #fa9ac2;
      }

      .searchbar::after {
        content: "";
        clear: both;
        display: table;
      }

    .home_page img {
        width: 300px;
        border: 3px solid black;
        padding: 10px;
        margin: 30px 45px 20px 45px;
        border-radius: 10px;
        float: left;
    }

    .home_page img:hover {
        background-color: #fa9ac2;
    }

    .about_page img {
        width: 300px;
        border: 3px solid black;
        padding: 10px;
        margin: 20px 50px;
        border-radius: 10px;
        float: left;
    }

    .about_page img:hover {
        background-color: #fa9ac2;
    }

    .work_page .cvc_images {
        height: 250px;
        width: 350px;
        border: 3px solid black;
        padding: 10px;
        margin: 15px 23%;
        border-radius: 10px;
    }

    .work_page .cvc_images:hover {
        background-color: #fa9ac2;
    }

    .work_page .collect_connect_images {
        height: 400px;
        width: 200px;
        border: 3px solid black;
        padding: 10px;
        margin: 15px 35%;
        border-radius: 10px;
    }

    .work_page .collect_connect_images:hover {
        background-color: #fa9ac2;
    }

    .work_page .taskcheck_images {
        height: 450px;
        width: 250px;
        border: 3px solid black;
        padding: 10px;
        margin: 15px 30%;
        border-radius: 10px;
    }

    .work_page .taskcheck_images:hover {
        background-color: #fa9ac2;
    }

    .work_page .brandmotion_image {
        height: 350px;
        width: 450px;
        border: 3px solid black;
        padding: 10px;
        margin: 15px 150px;
        border-radius: 10px;
    }

    .work_page .brandmotion_image:hover {
        background-color: #fa9ac2;
    }

    .work_page .dog_rescue_image {
        height: 300px;
        width: 450px;
        border: 3px solid black;
        padding: 10px;
        margin: 15px 150px;
        border-radius: 10px;
        text-align: center;
    }

    .work_page .dog_rescue_image:hover {
        background-color: #fa9ac2;
    }

    .resume_page img {
        width: 75px;
        border: 3px solid black;
        padding: 15px;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
    }

    .resume_page img:hover {
        background-color: #fa9ac2;
    }

    .work_page footer {
        background-color: #fa9ac2;
        margin: 50px 0px 20px 0px;
        height: 65px;
        bottom: 25px;
    }
}


@media all and (min-width: 1000px){

    ul {
        list-style-type: none;
        margin: 25px;
        padding: 5px;
    }

    ul .active{
        color: white;
        background-color: #765cc0;
    }

    li {
        margin: 0px 10px 0px 5px;
        font-size: 15px;
    }

    li a {
        color: black;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        float: left;
        padding: 8px;
        background-color: #E8E8E8;
        border-right: 7px solid white;
    }

    li a:hover {
        background-color: #b69ff7;
        color: black;
    }

    .searchbar input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: right;
        width: 20%;
        background: #f1f1f1;
      }

     .searchbar button {
        float: right;
        width: 5%;
        padding: 10px;
        background: #fa9ac2;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }

      .searchbar button:hover {
        background: #fa9ac2;
      }

      .searchbar::after {
        content: "";
        clear: both;
        display: table;
      }

    .home_page img {
        width: 300px;
        border: 3px solid black;
        padding: 10px;
        margin: 30px 50px 5% 50px;
        border-radius: 10px;
        float: left;
    }

    .home_page img:hover {
        background-color: #fa9ac2;
    }

    .about_page img {
        width: 300px;
        border: 3px solid black;
        padding: 10px;
        margin: 30px 100px;
        border-radius: 10px;
        float: left;
    }

    .about_page img:hover {
        background-color: #fa9ac2;
    }

    .work_page .cvc_images {
        height: 250px;
        width: 350px;
        border: 3px solid black;
        padding: 10px;
        margin: 15px 23%;
        border-radius: 10px;
    }

    .work_page .cvc_images:hover {
        background-color: #fa9ac2;
    }

    .work_page .collect_connect_images {
        height: 400px;
        width: 200px;
        border: 3px solid black;
        padding: 10px;
        margin: 15px 35%;
        border-radius: 10px;
    }

    .work_page .collect_connect_images:hover {
        background-color: #fa9ac2;
    }

    .work_page .taskcheck_images {
        height: 450px;
        width: 250px;
        border: 3px solid black;
        padding: 10px;
        margin: 15px 30%;
        border-radius: 10px;
    }

    .work_page .taskcheck_images:hover {
        background-color: #fa9ac2;
    }

    .work_page .brandmotion_image {
        height: 350px;
        width: 450px;
        border: 3px solid black;
        padding: 10px;
        margin: 15px 33%;
        border-radius: 10px;
    }

    .work_page .brandmotion_image:hover {
        background-color: #fa9ac2;
    }

    .work_page .dog_rescue_image {
        height: 300px;
        width: 450px;
        border: 3px solid black;
        padding: 10px;
        margin: 15px 33%;
        border-radius: 10px;
        text-align: center;
    }

    .work_page .dog_rescue_image:hover {
        background-color: #fa9ac2;
    }

    .resume_page img {
        width: 75px;
        border: 3px solid black;
        padding: 15px;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
    }

    .resume_page img:hover {
        background-color: #fa9ac2;
    }

    .work_page footer {
        background-color: #fa9ac2;
        margin: 50px 0px 20px 0px;
        height: 65px;
        bottom: 25px;
    }
}

  @media (prefers-reduced-motion) {
    header {
        animation: none;
    }
  }